body {
    color: #0e0909;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("../resources/static/images/doctors.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
}


.card {
    max-width: 800px;
    margin: 60px auto;
    background-color: rgba(255, 255, 255, 0.95);
}

@media (max-width: 768px) {
    body {
        background-size: contain;
        background-position: top center;
    }

}



